.projectsContent {
}

.projectCardWrapper {
  position: absolute;
  left: 10%;
  width: 100%;
  display: flex;
  overflow-x: scroll;
}
.projectCard {
  margin: 0 2rem;
  height: 300px;
  min-width: 260px;
  background: slategray;
  border-radius: 10px;
  color: white;
}
